@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif; /* ฟอนต์หลัก */
  overflow: scroll; /* ทำให้เลื่อนหน้าจอได้ */
}

.text-inria {
  font-family: "Inria Sans", sans-serif; /* ฟอนต์รอง */
}

/* ซ่อนแถบเลื่อนในทุกๆ หน้า */
/* ::-webkit-scrollbar {
  display: none;
} */

.new-line {
  white-space: pre-line; /* ให้ขึ้นบรรทัดใหม่จากการใช้ \n */
}

.code-box {
  width: 100% !important;
}